.questionWrap{
    /* text-align: center; */
    /* display: flex;
    flex-flow: column nowrap;
    align-items: center; */
    width: auto;
    margin: 0 auto;
    /* background-color: #51b7f4 */
}
.questionHeading{
    text-align: center;
}
.question{
    width: 30em;
    margin: 1em auto
    /* text-align: center; */
}
.questionText{
    /* margin-left: .3em; */
    width: 25em;
    /* margin-left: 0; */
}

.submitBtn{
    display: flex;
    justify-content: center;
    width: auto;
    margin: 3em auto;
    font-size: 1.2em;
}

@media(max-width: 566px){
    .question{
        width: 17em;
    }
}