.questionWrap{
    /* text-align: center; */
    /* display: flex;
    flex-flow: column nowrap;
    align-items: center; */
    width: 47em;
    margin: 0 auto;
    /* background-color: #51b7f4 */
}
.questionHeading{
    text-align: center;
}
.question{
    margin: 1em 0 0 6.7em;
}
.questionText{
    margin-left: .3em;
    /* margin-left: 0; */
}

.submitBtn{
    display: flex;
    justify-content: center;
    width: 5em;
    margin: 3em auto;
    font-size: 1.2em;
}